html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-brand {
    font-family: Limelight, sans-serif;
    font-size: 2.5rem;
}

.branding {
    font-family: Quicksand, sans-serif !important;
    font-size: 1rem !important;
}

.hidden {
    display: none !important;
}

hr.emphasis {
    border-top: 1px solid rgba(0,0,0,.25)
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled-col, .link-unstyled:link, .link-unstyled:hover {
    text-decoration: inherit !important;
}
